#usertable {
    margin: 0px;
}

body {
    background: rgb(99, 39, 120);
    margin: 0px
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.custom-input {
    width: 500px
}

.locationtop {
    margin-right
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 20px;
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.user-menu {
    background-color: #f8f9fa; /* Adjust as needed */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
    padding: 20px;
    margin-top: 20px; /* Adjust distance from the top */
}


.user-menu {
    margin-top: 0; /* Adjust for smaller screens */
    margin-bottom: 20px; /* Add margin at the bottom for better separation */
}
.custom-input {
    width: 100%;
}

