@model List<AssetManagement.Models.Assetlocation>
@{
    ViewData["Title"] = "Asset Allocation";
}


<div class="nav-info">
    <a class="nav-text" asp-action="Dashboard" asp-controller="Home">
        <ion-icon name="home-outline"></ion-icon>
    </a>
    <ion-icon name="chevron-forward-outline"></ion-icon>
    <a class="nav-text" asp-action="AssetLocation" asp-controller="Asset">
        <span>Asset Location</span>
    </a>
</div>

<div class="nav-container">
    <h2 class="nav-title">Asset Location</h2>
</div>


<div class="container-fluid">
    <div id="grid"></div>
</div>



<div class="modal fade" id="assetLocationModal" tabindex="-1" role="dialog" aria-labelledby="assetLocationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assetLocationModalLabel">Asset Location</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="assetLocationModalForm">
                    <input type="number" class="form-control " id="locationId" hidden>
                    <div class="row mb-3">
                        <div class="col-md">
                            <label for="departmentId" class="form-label">Deparment Name:<span class="text-danger"> *</span></label>
                            <select class="form-control" id="departmentId" name="departmentId">
                                <option value="" disabled selected>Select Department</option>
                            </select>
                        </div>
                        <div class="col-md">
                            <label for="locationImage" class="form-label">Image:</label>
                            <input type="file" class="form-control " id="locationImage">
                        </div>
                     
                    </div>
                    <div class="row mb-3">
                        <div class="col-md">
                            <label for="address" class="form-label">Address:<span class="text-danger"> *</span></label>
                            <textarea rows="4" class="form-control" id="address" name="address" autocomplete="off"></textarea>
                        </div>
                        <div id="imagePreviewDiv" class="col-md text-center" hidden>
                            <img id="imagePreview" src="#" onerror="this.onerror=null;this.src='~/images/locationDummyImage.jpg';" class="showModalImage" alt="Image Preview" style="max-width: 100%; max-height: 150px;">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="assetLocationModalUpdate">Update</button>
                <button type="button" class="btn btn-primary" id="assetLocationModalSubmit">Submit</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script>
        const assetLocationData = @Html.Raw(Json.Serialize(Model));
    </script>
    <script src="~/js/assetLocation.js" asp-append-version="true"></script>
}